* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color:#87CEFA;
    color: #4e4544;
    font: normal 16px sans-serif;
}

/* Page Layout */

.container{
  /*hace que no salgan los elementos por que se ha hecho la ventana más pequeña que estos*/
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 60px;

    display:grid;
    grid-template-areas:
      "header header"
      "main nav"
      "footer footer";


}

.constainer p{
  text-align: left;
}

header{

    grid-area:header;

    color: #ef5350;
    padding: 20px 0;

}

header nav {
    justify-self: start;

    list-style: none;

}

header nav li {
    margin-right: 15px;
    display: inline-block;
}

header button {
    justify-self: end;

    background-color: #ef5350;
    border: none;
    padding: 8px 25px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.main {

    grid-area: main;

    text-align: center;

}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.main p {
    margin-bottom: 50px;
}

.img img {
    width: 800px;
}

.sidebar {

    grid-area: nav;

    border: 1px solid #a2a2a2;
    padding: 20px;
}

footer {

    grid-area: footer;

    background-color: grey;
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: #FAFAD2;
    font-size: 12px;
    padding: 10px;
}
